name: Automerge approved bot pull requests

on:
  pull_request_review:
    types:
      - submitted
  
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - run: echo '${{ toJson(github.event) }}'
      
      - name: Automerging
        uses: pascalgn/automerge-action@v0.7.5
        if: github.event.review.state == 'approved' && (github.actor == 'asyncapi-bot' || github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]')
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
          GITHUB_LOGIN: asyncapi-bot
          MERGE_LABELS: ""
          MERGE_METHOD: "squash"
          MERGE_COMMIT_MESSAGE: "pull-request-title"
          MERGE_RETRIES: "10"
          MERGE_RETRY_SLEEP: "10000"